<h1>We are really sorry</h1>

<p>Unfortunately numbers for "<%= @registry.title %>" are limited and we regret to tell you that we were unable to make arrangements for you to join us at this celebration.</p>

<p>We hope that you understand the difficulties of catering for so many wonderful people who love us like you do and we hope that we can catch up with you very soon!</p>