<%= render :partial => "submenu" %>

<div id="registry" class="registry <%= @registry.title.downcase %>">
	<div id="registry-introduction">
		<h1><%= @registry.title %></h1>
		<h2><%= l @registry.when, :format => :short %></h2>

	</div>
	
	<div id="registry-details">
		<h1>Details</h1>
	</div>
</div>